// //////////////
// Mixins
// //////////////
@mixin placeholder($color) {
     ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $color;
    }
     :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color;
        opacity: 1;
    }
     ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color;
        opacity: 1;
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $color;
    }
}

@mixin transition($transition) {
    -webkit-transition: all $transition+s ease;
    -moz-transition: all $transition+s ease;
    -ms-transition: all $transition+s ease;
    -o-transition: all $transition+s ease;
    transition: all $transition+s ease;
}

@mixin transition-ease-out($transition) {
    -webkit-transition: all $transition+s;
    -moz-transition: all $transition+s;
    -ms-transition: all $transition+s;
    -o-transition: all $transition+s;
    transition: all $transition+s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transform: translateY(0);
}

@mixin transition-ease-in($transition) {
    -webkit-transition: all $transition+s;
    -moz-transition: all $transition+s;
    -ms-transition: all $transition+s;
    -o-transition: all $transition+s;
    transition: all $transition+s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    transform: translateY(0);
}

@mixin transform($amount) {
    -webkit-transform: rotate($amount+deg);
    -moz-transform: rotate($amount+deg);
    -ms-transform: rotate($amount+deg);
    -o-transform: rotate($amount+deg);
    transform: rotate($amount+deg);
}

@mixin body-smooth($color, $color2) {
    body {
        -webkit-animation: smooth 2s;
        -moz-animation: smooth 2s;
        -o-animation: smooth 2s;
        animation: smooth 2s;
    }
    @-webkit-keyframes smooth {
        from {
            opacity: 0;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            background-color: $color;
        }
        to {
            opacity: 1;
            background-color: $color2;
            -webkit-transition: all 0s ease;
            -moz-transition: all 0s ease;
            -ms-transition: all 0s ease;
            -o-transition: all 0s ease;
            transition: all 0s ease;
        }
    }
    @-moz-keyframes smooth {
        from {
            opacity: 0;
            background-color: $color;
        }
        to {
            opacity: 1;
            background-color: $color2;
        }
    }
    @-o-keyframes smooth {
        from {
            opacity: 0;
            background-color: $color;
        }
        to {
            opacity: 1;
            background-color: $color2;
        }
    }
    @keyframes smooth {
        from {
            opacity: 0;
            background-color: $color;
        }
        to {
            opacity: 1;
            background-color: $color2;
        }
    }
}



// //////////////
// Common
// //////////////

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: auto;
    height: auto;
    border: 0;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    &:after,
    &:before {
        clear: both;
        display: block;
        content: "";
    }
}

header,
section,
footer,
aside,
nav {
    float: left;
    width: 100%;
}

.full-width {
    float: left;
    width: 100%;
}


// //////////////
// Columns
// //////////////
@mixin col-2($margin, $margin2) {
    float: left;
    width: (100%-($margin))/2;
    margin-right: $margin;
    margin-bottom: $margin2;
    &:first-child {
        clear: left;
    }
    &:nth-of-type(2n+2) {
        margin-right: 0;
    }
    &:nth-of-type(2n+3) {
        clear: left;
    }
    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
        margin-bottom: 0;
    }
    &:nth-of-type(2) {
        >img {
            float: right;
        }
    }
}

@mixin reset-col-2($margin, $margin2) {
    width: 100%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:nth-of-type(2n+2) {
        margin-right: $margin;
    }
    &:nth-of-type(2n+3),
    &:nth-of-type(3n+4) {
        float: none;
        clear: none;
    }
    &:nth-of-type(3n+3) {
        margin-right: auto;
    }
    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
        margin-bottom: $margin2;
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin col-3($margin, $margin2) {
    float: left;
    width: (100%-($margin*2))/3;
    margin-right: $margin;
    margin-bottom: $margin2;
    &:first-child {
        clear: left;
    }
    &:nth-of-type(3n+3) {
        margin-right: 0;
    }
    &:nth-of-type(3n+4) {
        clear: left;
    }
    &:nth-last-of-type(1),
    &:nth-last-of-type(2),
    &:nth-last-of-type(3) {
        margin-bottom: 0;
    }
}

@mixin reset-col-3($margin, $margin2) {
    &:nth-of-type(3n+3) {
        margin-right: $margin;
    }
    &:nth-of-type(3n+4) {
        float: left;
        clear: none;
    }
    &:nth-last-of-type(1),
    &:nth-last-of-type(2),
    &:nth-last-of-type(3) {
        margin-bottom: $margin2;
    }
}

@mixin col-4($margin, $margin2) {
    float: left;
    width: (100%-($margin*3))/4;
    margin-right: $margin;
    margin-bottom: $margin2;
    &:first-child {
        clear: left;
    }
    &:nth-of-type(4n+4) {
        margin-right: 0;
    }
    &:nth-of-type(4n+5) {
        clear: left;
    }
}
@mixin reset-col-4($margin, $margin2) {
    float: left;
    width: 100%;
    margin-right: $margin;
    margin-bottom: $margin2;
    &:first-child {
        clear: left;
    }
    &:nth-of-type(4n+4) {
        margin-right: $margin;
    }
    &:nth-of-type(4n+5) {
        float: left;
    }
}
@mixin one-twoThird($one-third, $margin-right) {
    .one-third {
        width: $one-third;
        float: left;
        margin-right: $margin-right;
        &+.two-third {
            width: 100% - $margin-right - $one-third;
            float: left;
        }
    }
}

p {
    &:empty {
        margin: 0;
        padding: 0;
    }
    margin-top: 0;
    &:last-child {
        margin-bottom: 0;
    }
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}


.table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin: auto;
    min-width: 290px;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
    font-family: $theme-font!important;
}
.show-loader-wrapper{
    float: left;
    width: 100%;
    text-align: center;
}
.show-loader {
    z-index: 2;
    width: 80px;
    height: 80px;
    padding: 10px;
    position: relative;
    display: inline-block;
    &:after {
        content: "";
        width: 60px;
        height: 60px;
        border: .5px dashed $theme;
        border-top: 2.5px solid $theme;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        color: white;
        position: absolute;
        top: 10px;
        font-size: 55px;
        left: 10px;
        // z-index: 1;
        -webkit-animation: fa-spin .6s infinite linear;
        -moz-animation: fa-spin .6s infinite linear;
        -o-animation: fa-spin .6s infinite linear;
        animation: fa-spin .6s infinite linear;
    }
}

button,
input[type="submit"] {
    border: none;
    // font-size: initial;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a[href*="#"] {
    // cursor: default!important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    width: 100%;
    &::-ms-expand {
        display: none;
    }
    option {
        float: left;
        width: 100%;
    }
}

.row {
    width: 100%;
    float: left;
}
a.row{
    display: block;
}
a{
    &.col-2, &.col-3, &.col-4{
        &:hover{
            text-decoration: none;
        }
    }
}
a[href*=tel]{
    color: inherit;
}
@include body-smooth(white, transparent);
figure {
    margin: 0;
    img {
        width: 100%;
    }
}
form {
    width: 100%;
    margin: 0 auto;
    &:after {
        content: "";
        clear: both;
        display: block;
    }
    input, textarea, select {
        width: 100%;
        float: left;
    }
    select{
        position: relative;
        z-index: 3;
    }
}
.form-validation{
    float: left;
    width: 100%;
    margin: 0;
    display: none;
    @include transition(.6);
    li{
        float: left;
        width: 100%;
    }
}

.new-select{
    position: relative;
    &:after{
        @include transition(.3);
        position: absolute;
        content: "\f107";
        right: 11px;
        top: 4px;
        font-family: FontAwesome;
        font-size: 32px;
        z-index: 1;
    }
}
.checkbox-button {
    position: relative;
    font-size: 18px;
    padding-left: 33px;
    line-height: 1.4;
    display: inline-block;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 100%;
        left: 0;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        &:checked {
            &+.new-checkbox {
                &:after {
                    opacity: 1;
                }
            }
            &:hover{
                &+.new-checkbox {
                    &:after {
                        opacity: 1;
                    }
                }   
            }
        }
        &:hover{
            &+.new-checkbox {
                &:after {
                    opacity: .2;
                }
            }   
        }
    }
}

.new-checkbox {
    position: absolute;
    left: 0px;
    top: 0;
    height: 22px;
    width: 22px;
    &:before,
    &:after {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    &:before {
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        border: 1px solid $border;
        background-color: $light-grey;
    }
    &:after {
        content: '\f00c';
        font-family: FontAwesome;
        @include transition-ease-out(.1);
        color: $theme;
        left: -1px;
        top: -9px;
        font-size: 28px;
        opacity: 0;
    }
}

.radio-button{
    position: relative;
    font-size: 18px;
    padding-left: 35px;
    line-height: 1.7;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
    input[type="radio"]{
        position: absolute;
        opacity: 0;
        width: 100%;
        left: 0;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        &:checked{
            & + .new-radio{
                &:after{
                    background-color: $theme;
                }
            }
        }
    }
}
.new-radio{
    &:before, &:after{
        content: "";
        position: absolute;
        -webkit-border-radius: 50%;
                border-radius: 50%;
    }
    &:before{
        left: 0;
        top: 0;
        width: 25px;
        height: 25px;
        border: 1px solid black;
    }
    &:after{
        @include transition(.3);
        left: 6px;
        top: 6px;
        width: 15px;
        height: 15px;
    }
}

// //////////////
// Responsive Menu
// //////////////
.responsive-menu{    
    width: auto;
    display: none;
    position: fixed;
    background-color: $theme;
    color: white;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    z-index: 11;
    padding: 80px 15px;
    overflow-y: scroll;
    nav{
        div{
            width: 100%;
            max-width: 500px;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 35px;
            >ul{
                padding-left: 0;
            }
            a{
                color: white;
                font-family: $theme-font;
                font-size: 60px;
                &:hover{
                    text-decoration: none;
                }
            }
            li{
                width: 100%;
                margin-bottom: 35px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &.show{
        display: block;
    }
    ul{
        list-style: none;
        width: 100%;
    }
    .sub-menu{
        display: none;
    }
    .current-menu-item, .current-menu-anchestor{
        >a{
            font-weight: bold;
        }
    }
    .menu-item-has-children{
        position: relative;
        z-index: 0;
    }
}//responsive-menu

.menu-button-wrapper{
    display: none;
    padding-bottom: 20px;
    background-color: $light-grey;
    cursor: pointer;
    float: left;
    width: 100%;
    z-index: 12;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    @include transition(.3);
    &.show{
        .menu-button{
            position: fixed;
            right: 0px;
            top: 50px;
            &:before {
            top: 12px;
            background-color: white;
            @include transform(-45);
            }
            &:after {
                top: 12px;
                border: 0;
                height: 3.4px;
                background: white;
                border-top-color: white;
                border-bottom-color: white;
                @include transform(45);
            }
        }
    }
}
.menu-button{
    position: relative;
    float: right;
    color: $dark-grey;
    width: 40px;
    z-index: 12;
    margin-right: 19px;
    font-weight: 700;
    text-align: right;
    height: 30px;
    @include transition(.2);
    &:after, &:before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        left: 0;
        @include transition(.3);
    }
    &:before {
        top: 26px;
        height: 3.4px;
        background-color: $dark-grey;
    }
    &:after {
        top: 0;
        height: 10px;
        border-top: 3.5px solid $dark-grey;
        border-bottom: 3.5px solid $dark-grey;
    }
}
.has-details{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    top: 30px;
    z-index: 5;
    border-left: 2px solid rgb(134, 69, 81);
    cursor: pointer;
    &:after{
        position: absolute;
        right: 21.6px;
        top: 11px;
        width: 4px;
        height: 30px;
        content: "";
        background: white;
        -webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
             -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
    &:before{
        position: absolute;
        right: 9px;
        top: 23px;
        width: 30px;
        height: 4px;
        content: "";
        background: white;
    }
    &.show{
        background-color: rgb(134, 69, 81);
    }
    &.show:after{
        height: 0;
    }
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(134, 69, 81, .7);
}
::selection {
    color: white;
    background: rgba(134, 69, 81, .7);
}
.bg{
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.small-fonts{
    font-size: 12px;
}