body,
input,
textarea,
keygen,
select,
button {
    font-family: $theme-font;
    font-size: 17px;
    color: $dark-grey;
    letter-spacing: .8px;
}

p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .3px;
}

.container {
    max-width: 940+60px;
}
.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $light-grey;
}
.wrapper-2 {
    padding-top: 1px;
    padding-bottom: 20px;
    background-color: $light-grey;
}
.container-620{
    max-width: 620+60px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    &:after{
        display: block;
        content: "";
        clear: both;
    }
}

.full-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.row {
    &:not(:first-of-type) {
        margin-top: 20px;
    }
}

.col-2 {
    @include col-2(0, 0);
}

.col-3 {
    @include col-3(2.1%, 2%);
}

.col-4 {
    @include col-4(2.2%, 0);
}



// //////////////
// Headings
// //////////////
.heading-common {
    color: #303030;
    font-weight: 600;
}

h1 {
    font-size: 30px;
    @extend .heading-common;
    margin-bottom: 5px;
    line-height: 0.8;
}

h2 {
    font-size: 40px;
    @extend .heading-common;
}

h3 {
    font-size: 30px;
    @extend .heading-common;
}

h4 {
    font-size: 24px;
    @extend .heading-common;
}

h5 {
    font-size: 22px;
    @extend .heading-common;
}

h6 {
    font-size: 18px;
    @extend .heading-common;
}

a {
    text-decoration: none;
    color: $theme;
    &:hover {
        text-decoration: underline;
    }
}

ul,
ol {
    padding-left: 18px;
}




// //////////////
// Table
// //////////////
table {
    width: 100%;
    margin-bottom: 20px;
    tr {
        th {
            border: 1px solid $theme;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
        }
        &:last-child {
            td {
                -webkit-border-bottom-left-radius: 5px;
                border-bottom-left-radius: 5px;
                -webkit-border-bottom-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}

td {
    border: 1px solid $theme;
    @include transition-ease-out(.3);
    border-top: none;
    padding: 10px;
    font-size: 19px;
    &:hover {
        background-color: darken($theme, 10%);
        color: white;
    }
}

th {
    font-size: 24px;
    padding: 20px;
    text-align: left;
}


figcaption {
    font-size: 12px;
    margin-top: 2px;
}

// //////////////
// Form
// //////////////

form {
    input, textarea, select {
        font-size: 14px;
        padding: 4.5px 10px;
        font-weight: 100;
        text-align: left;
        color: white;
        -webkit-border-radius: 5px;
        border-radius: 2px;
        border: 1px solid;
    }
    input, textarea{
        background-color: $grey-tag;
        border-color: $border;
    }
    select{
        background-color: transparent;
        border-color: transparent;
    }
    @include placeholder(white);
}

.error{
    background-color: $error;
    p{
        &:after{
            content: "\f06a";
        }
    }
}
.success{
    background-color: $success;
    p{
        &:after{
            content: "\f00c";
        }
    }
}
.error-input{
    @include transition-ease-out(.5);
    input, select, textarea{
        border-color: $error;
    }
    position: relative;
    &:after{
        @include transition-ease-out(.5);
        position: absolute;
        right: 8px;
        top: 3.8px;
        content: "\f06a";
        font-family: FontAwesome;
        color: $error;
        font-size: 20px;
    }
    .new-select{
        &:after{
            right: 30px;
        }
    }
}
   
.error-text{
    color: $error;
}
.form-row {
    float: left;
    width: 100%;
    margin-top: 15px;
    .col-3 {
        @include col-3(2%, 0%);
    }
    span {
        color: darken($theme, 10%);
        font-size: 14px;
        font-weight: bold;
        margin-top: 9px;
    }
}
.form-validation{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    color: #FFF;
    padding: 5px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    width: 100%;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.37);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.37);
    p{
        position: relative;
        font-weight: 500;
        font-size: 14px;
        padding-left: 30px;
        color: #FFF;
        font-family: $theme-font;
        &:after{
            position: absolute;
            left: 2px;
            top: 01px;
            font-family: FontAwesome;
            color: white;
            font-size: 20px;
        }
    }
    li{
        padding: 0 10px;
        margin-top: 2px;
        font-size: 14px;
        letter-spacing: 2px;
        color: white;
        font-family: $theme-font;
        &:first-child{
            margin-top: 0;
        }
    }
}
.new-select{
    background-color: $grey-tag;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    option{
        background-color: $grey-tag;
    }
    &:after{
        color: white;
    }
}
.social-media {
    margin-top: 13px;
    margin-bottom: 13px;
    float: left;
    width: 100%;
    padding: 0;
    .fa {
        color: $grey;
        font-size: 22px;
        float: left;
        width: 100%;
        @include transition-ease-out(.3);
    }
    a {
        float: left;
        width: 100%;
        &:hover{
            text-decoration: none;
        }
    }
    li {
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            .fa {
                color: black;
            }
        }
    }
    label {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        top: 2px;
        float: left;
        width: 100%;
    }
}

/* //////////////*/
/* Desktop menu*/
/* //////////////*/
.desktop-menu {
    display: inline-block;
    nav {
        width: auto;
        >div {
            float: left;
            width: auto;
            >ul {
                margin-top: 9px;
                margin-bottom: 0;
                padding: 0;
                >li {
                    text-align: center;
                }
                li {
                    a {
                        border-right: none;
                    }
                    &:last-child {
                        a {
                            border-right: 1px solid $border;
                        }
                    }
                    &.current-menu-item,
                    &.current-menu-ancestor {
                        a {
                            background-color: $theme;
                            color: white;
                            border-color: $theme;
                        }
                    }
                }
            }
        }
    }
    a,
    .search {
        color: $grey-anchor;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 6px 10px;
        background-color: transparent;
        line-height: 1.1;
        border: 1px solid $border;
        text-decoration: none;
        @include transition-ease-out(.3);
        float: left;
        width: 100%;
        .fa{
            @include transition-ease-out(.3);
        }
        &:hover {
            background-color: $theme;
            color: white;
            border-color: $theme;
            .fa{
                color: white;
            }
        }
        &.show{
            background-color: $theme;
            color: white;
            border-color: $theme;
            .fa{
                color: white;
            }   
        }
    }

    .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 5;
        padding: 0;
        min-width: 195px;
        text-align: left;
        border-right: 1px solid $grey;
        li {
            width: 100%;
            background-color: $light-grey;
            &.current-menu-item,
            &.current-menu-parent {
                a {
                    background-color: $theme;
                    color: white;
                    border-color: $theme;
                }
            }
            a {
                border-top: none;
                text-transform: inherit;
            }
            &:last-child {
                a {
                    border-right: none!important;
                }
            }
        }
    }

    .menu-item-has-children {
        position: relative;
        &:hover {
            >.sub-menu {
                display: block;
            }
        }
        .menu-item-has-children {
            >.sub-menu {
                left: 100%;
                top: 0;
                border-top: 1px solid $grey;
            }
            &:hover {
                >.sub-menu {
                    display: block;
                }
            }
        }/*end of menu-item-has-children*/
    }
}/*end of desktop-menu*/

.search-wrapper {
    float: left;
    position: relative;
    cursor: pointer;
    .search {
        border-left: none;
        margin-top: 9px;
        .fa {
            color: black;
        }
    }
}

footer{
    background-color: #3C3D41;
    padding: 20px 0;
    .footer-col-3{
        float: left;
        margin-left: 2.8%;
        width: (100%-(2.8*2))/3;
        border-left: 1px solid #888888;
        padding-left: 2.7%;
        &:first-child{
            margin-left: 0;
            padding-left: 0;
            border-left: none;
        }
    }
}

.footer-menu{
    float: left;
    width: 100%;
    ul{
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    li{
        list-style: none;
        line-height: 1.2;
    }
    a{
        color: white;
        font-size: 11px;
        text-transform: uppercase;
        @include transition-ease-out(.1);
        &:hover{
            text-decoration: none;
            color: $grey;
        }
    }
    h6{
        color: #FFF;
        font-size: 11px;
        text-transform: uppercase;
    }
}

.pagination-wrapper{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: $light-grey;
}
.pagination{
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0;
    li{
        float: left;
        margin-right: 5px;
        width: 39px;
        &:last-child{
            margin-right: 0;
        }
        a{
            float: left;
            width: 100%;
            border: 1px solid $border;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            color: #585858;
            @include transition-ease-out(.2);
            &:hover{
                text-decoration: none;
                background-color: #d8d8d8;
            }
        }
        &.active{
            a{
                background-color: #d8d8d8;
            }
        }
    }
}
.responsive-menu{
    text-align: left;
    .search-wrapper{
        display: inline-block;
        width: 100%;
        float: none;
        max-width: 500px;
        input[type="text"]{
            width: 88%;
            float: left;
            background-color: white;
        }
        button{
            width: 12%;
            .fa{
                color: #FFF;
            }
        }
    }
}

blockquote{
    padding-left: 50px;
    margin-left: 0;
    margin-right: 0;
    &, & p{
        font-family: $blockquote;
        font-size: 27px;
        position: relative;
        line-height: 1.5;
    }
    &:before{
        position: absolute;
        content: "";
        height: 100%;
        width: 10px;
        background-color: $theme;
        left: 0;
        top: 0;
    }
}

.custom-row{
    float: left;
    width: 100%;
    margin-top: 40px;    
}