/* //////////////*/
/* Colors*/
/* //////////////*/
$light-grey: #f6f6f6;
$grey: rgba(155, 155, 155, 1);
$dark-grey: #232323;
$grey-anchor: #373737;
$border: #979797;
$border-light: #eee;
$dark-theme: #640F20;
$light-blue: #CDDFE0;
$grey-tag: #565656;
$creame: #C09F80;


/* //////////////*/
/*This file includes mixins, resets etc.*/
/* //////////////*/
@import 'editor';


/* //////////////*/
/*Theme Style Guide*/
/* //////////////*/
@import 'themeguide';
body,
input,
textarea,
keygen,
select,
button {
    color: $dark-grey;
    letter-spacing: .8px;
}


/* //////////////*/
/* Header*/
/* //////////////*/
header {
    &.top {
        background-color: $light-grey;
    }
    ul {
        list-style: none;
        float: left;
        width: auto;
        li {
            float: left;
        }
    }
    &.sub-header {
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        .logo {
            float: left;
            width: 310px;
            height: 69px;
            img {
                float: left;
                width: 100%;
            }
        }
        .button {
            float: right;
            margin-top: 4px;
        }
    }
    &.menu-header {
        background-color: $light-grey;
        padding-top: 20px;
        padding-bottom: 9px;
        text-align: center;
    }
}

.social-media {
    margin-top: 13px;
    margin-bottom: 13px;
    float: left;
    width: 100%;
    padding: 0;
    .fa {
        color: $grey;
        font-size: 22px;
        float: left;
        width: 100%;
        @include transition-ease-out(.3);
    }
    a {
        float: left;
        width: 100%;
        &:hover{
            text-decoration: none;
        }
    }
    li {
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            .fa {
                color: black;
            }
        }
    }
    label {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        top: 2px;
        float: left;
        width: 100%;
    }
}

.top-menu {
    float: right;
    margin-bottom: 11px;
    margin-top: 9px;
    padding-left: 0;
    a {
        color: $dark-grey;
        font-size: 11px;
        text-transform: uppercase;
        @include transition-ease-in(.3);
        text-decoration: none;
        &:hover {
            color: black;
            &::after {
                background-color: $theme;
                width: 75%;
            }
        }
        &::after {
            content: '';
            bottom: -5px;
            height: 3px;
            background-color: transparent;
            width: 0;
            display: block;
            margin: auto;
            @include transition-ease-out(.3);
        }
    }
    li {
        margin-right: 30px;
        font-weight: 600;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            a {
                text-decoration: underline;
                &:after {
                    background-color: $theme;
                    width: 75%;
                }
            }
        }
    }
}

.marron-but {
    background-color: $theme;
    color: white;
    border: 1px solid $dark-theme;
    &:hover {
        background-color: darken($theme, 10%);
        text-decoration: none;
    }
}

.common-button {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    @include transition-ease-out(.3);
    cursor: pointer;
}
.button {
    font-size: 20px;
    min-width: 249px;
    letter-spacing: 3.2px;
    padding: 14px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    @extend .marron-but;
    @extend .common-button;
}

.small-but {
    @extend .marron-but;
    @extend .common-button;
    padding: 2.1px;
    border-radius: 2px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 3.2px;
    height: 32px;
    .fa{
        top: -3px;
    }
}
.medium-but{
    @extend .marron-but;
    @extend .common-button;
    font-size: 24px;
    padding: 5.5px 17px;
    font-weight: normal;
    
}

.ad-block {
    display: inline-block;
}


/* //////////////*/
/* Desktop menu*/
/* //////////////*/
.desktop-menu {
    display: inline-block;
    nav {
        width: auto;
        >div {
            float: left;
            width: auto;
            >ul {
                margin-top: 9px;
                margin-bottom: 0;
                padding: 0;
                >li {
                    text-align: center;
                }
                li {
                    a {
                        border-right: none;
                    }
                    &:last-child {
                        a {
                            border-right: 1px solid $border;
                        }
                    }
                    &.current-menu-item,
                    &.current-menu-ancestor {
                        a {
                            background-color: $theme;
                            color: white;
                            border-color: $theme;
                        }
                    }
                }
            }
        }
    }
    a,
    .search {
        color: $grey-anchor;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 6px 10px;
        background-color: transparent;
        line-height: 1.1;
        border: 1px solid $border;
        text-decoration: none;
        @include transition-ease-out(.3);
        float: left;
        width: 100%;
        .fa{
            @include transition-ease-out(.3);
        }
        &:hover {
            background-color: $theme;
            color: white;
            border-color: $theme;
            .fa{
                color: white;
            }
        }
        &.show{
            background-color: $theme;
            color: white;
            border-color: $theme;
            .fa{
                color: white;
            }   
        }
    }

    .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 5;
        padding: 0;
        min-width: 195px;
        text-align: left;
        border-right: 1px solid $grey;
        li {
            width: 100%;
            background-color: $light-grey;
            &.current-menu-item,
            &.current-menu-parent {
                a {
                    background-color: $theme;
                    color: white;
                    border-color: $theme;
                }
            }
            a {
                border-top: none;
                text-transform: inherit;
            }
            &:last-child {
                a {
                    border-right: none!important;
                }
            }
        }
    }

    .menu-item-has-children {
        position: relative;
        &:hover {
            >.sub-menu {
                display: block;
            }
        }
        .menu-item-has-children {
            >.sub-menu {
                left: 100%;
                top: 0;
                border-top: 1px solid $grey;
            }
            &:hover {
                >.sub-menu {
                    display: block;
                }
            }
        }/*end of menu-item-has-children*/
    }
}/*end of desktop-menu*/

.search-wrapper {
    float: left;
    position: relative;
    cursor: pointer;
    .search {
        border-left: none;
        margin-top: 9px;
        .fa {
            color: black;
        }
    }
}


/* //////////////*/
/* Home Flex Slider*/
/* //////////////*/
.home-banner{
    height: 499px;
    background-color: $light-grey;
    .full-container,
    .slider,
    .flexslider-home,
    #slider,
    .slides {
        height: 100%;
        width: 100%;
    }
}
.inner-banner {
    height: 414px;
    background-color: $light-grey;
    .full-container,
    .slider,
    .flexslider-home,
    #slider,
    .slides {
        height: 100%;
        width: 100%;
    }
}
.video-banner{
    // height: 573px;
    background-color: $light-grey;
    position: relative;
    .full-container{
        height: 100%;
        width: 100%;
    }
}
.flexslider-home, #slider{
    float: left;
}
.flexslider{
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
}
#slider{
    overflow: hidden;
    position: relative;
    .slides{
        li{
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
        }
    }
    .flex-control-thumbs{
        position: absolute!important;
        bottom: 0;
        left: 0;
        z-index: 3;
        li{
            margin: 0 2% 0 0;
            width: 80px;
            height: 80px;
            border: 3px solid white;
            -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            &:last-child{
                margin: 0;
            }
        }
    }
}
.flexslider-home {
    border: none;
    position: relative;
    margin: 0;
    overflow: hidden;
    .slides li {
        position: relative;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        img{
            width: 100%;
        }
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
            content: '';
            z-index: 2;
        }
        * {
            color: white;
        }
        h2 {
            font-size: 52px;
            font-weight: 600;
        }
        p {
            color: $light-blue;
            font-size: 27px;
        }
    }
    .table {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 3;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15%;
        padding-right: 15%;
    }
    &:hover{
        .flex-direction-nav{
            .flex-prev{
                left: 20px;
                opacity: 1;
            }
            .flex-next{
                right: 20px;
                opacity: 1;
            }
        }
    }
    .flex-control-nav {
        z-index: 3;
        bottom: 5px;
    }
}


.flex-direction-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    .flex-nav-prev {
        left: 10px;
    }
    .flex-nav-next {
        right: 10px;
    }
    a {
        height: 50px;
        &:before {
            font-family: FontAwesome;
            color: white;
            font-size: 55px;
        }
        &.flex-next {
            &:before {
                content: '\f105';
            }
        }
        &.flex-prev {
            &:before {
                content: '\f104';
            }
        }
    }
}

.flex-control-paging {
    li {
        a {
            background-color: white;
            border: 2px solid $border;
            height: 16px;
            width: 16px;
            @include transition-ease-out(.3);
            -webkit-box-shadow: none;
                    box-shadow: none;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            &.flex-active {
                background-color: $theme;
            }
            &:hover {
                background-color: $theme;
            }
        }
    }
}
.inner-banner{
    position: relative;
    .flex-direction-nav{
        display: none;
    }
}
#carousel{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: transparent;
    .flex-viewport, .slides, li{
        height: 100%;
    }
    .flex-viewport{
        display: inline-block;          
    }
    &.flexslider{
        border: none;
    }
    .slides{
        padding: 26px 0;
        display: block;
        float: left;
        width: 100%!important;
        li{
            border: 3px solid white;
            width: 80px!important;
            margin-right: 15px!important;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
            background-position: center;
            cursor: pointer;
            height: 80px;
            -webkit-box-shadow: 4px 4px 9px 0 rgba(0,0,0,0.5);
                    box-shadow: 4px 4px 9px 0 rgba(0,0,0,0.5);
            @include transition-ease-out(.2);
            &:last-child{
                margin-right: 0!important;
            }
            &:hover{
                -webkit-box-shadow: 4px 4px 12px 2px rgba(0,0,0,0.8);
                        box-shadow: 4px 4px 12px 2px rgba(0,0,0,.8);
            }
        }
    }
}

/* //////////////*/
/* Containers*/
/* //////////////*/
.heading-tag {
    float: left;
    width: 100%;
    text-transform: uppercase;
    @include transition-ease-in(.3);
    position: relative;
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
    span {
        float: right;
        font-size: 12px;
        position: absolute;
        top: 8px;
        right: 15px;
    }
    h3{
        color: white;
        padding: 5.5px 15px;
        font-size: 20px;
        margin: 0;
        float: left;
        width: 100%;
        position: relative;
        top: -1px;
    }
}

.marron-tag {
    .heading-tag {
        background-color: $theme;
        color: white;
    }
    a.heading-tag:hover{
        background-color: darken($theme, 10%);  
    }
}

.grey-tag {
    .heading-tag {
        background-color: $grey-tag;
        color: white;
    }
    a.heading-tag:hover{
        background-color: darken($grey-tag, 10%);  
    }
}

.creame-tag {
    h3{
        color: black;
    }
    .heading-tag {
        background-color: $creame;
        color: black;
    }
    a.heading-tag:hover{
        background-color: darken($creame, 10%);  
    }
}


.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $light-grey;
}
.wrapper-2 {
    padding-top: 1px;
    padding-bottom: 20px;
    background-color: $light-grey;
}
.container-620{
    max-width: 620px;
    margin: auto;
    position: relative;
    &:after{
        display: block;
        content: "";
        clear: both;
    }
}

.tiles-row{
    .col-3{
        @include col-3(2.1%,0);
    }
    .col-2{
        @include col-2(2.2%,0);
    }
    a{
        text-decoration: none;
    }
}

.news {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.news-content {
    width: 100%;
    color: $dark-grey;
    line-height: 1.1;
    letter-spacing: .5px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: $border-light;
    padding: 8px;
    background-color: lighten($light-grey,3%);
}

.news-heading {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}


.ad-category {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 250px;
}

.ad-text {
    width: 100%;
    background-color: $light-grey;
    color: $dark-grey;
    font-size: 10px;
    padding: 2px 0 0 0;
    position: relative;
    line-height: .9;
}
.advertisement-container{
    float: left;
    width: 100%;
}
.ad-on-single-wrapper{
    width: 300px;
    height: 250px+18px;
    margin: auto;
    padding-bottom: 18px;
}
.ad-on-single {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.ad-on-single-text {
    width: 100%;
    background-color: $light-grey;
    color: $dark-grey;
    font-size: 10px;
    padding: 3px 5px 0 0;
}


/* //////////////*/
// Newsletter Section
/* //////////////*/
.subscription{
    max-width: 655px;
    .col-3{
        @include col-3(3%, 0);
    }
}
.newsletter-section {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    p {
        font-size: 12px;
        color: black;
        margin-bottom: 6px;
    }
}

.heading {
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .8;
    margin-bottom: 13px;
}


/* //////////////*/
// Video Section
/* //////////////*/
.video-container{
    height: 100%;
    position: relative;
    display: block;
    &:hover{
        text-decoration: none;
        .play-video-but{
            background-color: darken($theme, 10%);
        }
        .sub-video{
            &:after{
                background-color: rgba(0,0,0,.6);
            }
        }
    }
}
a.full-width{
    height: 100%;
}
.video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 200px;
    .table{
        // padding-bottom: 22%;
    }
}
.sub-video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 200px;
    .play-video-but{
        position: relative;
        z-index: 3;
    }
}
.video-heading{
    width: 100%;
    color: $dark-grey;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 10px 0 0;
    text-transform: capitalize;
    line-height: 1.1;
    letter-spacing: .5px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: $border-light;
    padding: 8px;
    background-color: lighten($light-grey,3%);
}
.sub-video-heading{
    width: 100%;
    color: $dark-grey;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.1;
    letter-spacing: .5px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: $border-light;
    padding: 8px;
    background-color: lighten($light-grey,3%);
}
.common-video-but{
    background-color: $theme;
    text-align: center;
    margin: auto;
    @include transition-ease-out(.3);
    .fa{
        color: white;
        position: relative;
        }
}
.play-video-but {
    @extend .common-video-but;
    width: 86px;
    height: 57px;
    .fa{
        font-size: 27px;
        top: 15px;
    }
}
.small-video-but{
    @extend .common-video-but;
    width: 36px;
    height: 23px;
    .fa{
        font-size: 12px;
        top: -3px;
    }
}
.related-video-image{
    width: 80px;
    float: left;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
}
.related-videos{
    max-width: 300px;
    height: 261px;
    .each-video{
        float: left;
        width: 100%;
        height: 28.13%;
        margin-top: 6.7%;
        &:first-child{
            margin-top: 0;
        }
        @include transition-ease-out(.3);
        &:hover{
            .small-video-but{
                background-color: darken($theme, 15%);
            }
            .related-video-text{
                background-color: rgba(0,0,0,.1);
            }
        }
    }
}
.related-video-text{
    float: left;
    width: 220px;
    height: 100%;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 15px;
    color: $dark-grey;
    border-top: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background-color: #FFF;
    @include transition-ease-out(.3);
}
.video-tile{
    color: inherit;
    &:hover{
        text-decoration: none;
        .play-video-but{
            background-color: darken($theme, 10%);
        }
        .medium-but{
            background-color: darken($theme, 10%);   
        }
        h2{
            color: darken(#303030, 5%);
        }
    }
}
.news-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
    @include transition-ease-out(.3);
    height: 272px;
}
.news-content-2 {
    width: 100%;
    color: $dark-grey;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: $border-light;
    padding: 8px;
    background-color: lighten($light-grey,3%);
}

.news-heading-2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;
}
.related-news{
    height: 337px;
}
.related-news-image{
    width: 125px;
    float: left;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
}
.related-content{
    max-width: 461px;
    height: 100%;
    .each-related-content{
        float: left;
        width: 100%;
        height: 29.43%;
        margin-top: 4.3%;
        @include transition-ease-out(.3);
        &:first-child{
            margin-top: 0;
        }
        &:hover{
           .related-news-text{
               background-color: rgba(0,0,0,.1);
           }
        }
    }
}
.related-news-text{
    float: left;
    width: 334px;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 15px;
    @include transition-ease-out(.3);
    color: $dark-grey;
    background-color: white;
    height: 100%;
    border-top: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}

.social-and-search{
    input[type="text"]{
        max-width: 775px;
    }
    max-width: 816px;
    margin: auto;
    padding-bottom: 17px;
    >.row{
        &:first-child{
            border-bottom: 2px solid $border-light;
        }
    }
    .social-media{
        margin: 17px 0;
    }
    .top-menu{
        margin-bottom: 11px;
        margin-top: 15px;
    }
    li{
        float: left;
        list-style: none;
    }
    &:after, &:before{
        content: "";
        display: block;
        clear: both;
    }
}
.search-form{
    input[type="text"]{
        float: left;
        color: $dark-grey;
    }
    input{
        background-color: transparent;
        border: 1px solid $border-light;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1.5px;
        padding: 15px;
    }
    @include placeholder($border);
    button{
        background-color: transparent;
        border: none;
        color: $dark-grey;
        float: left;
        padding: 0;
        min-width: inherit;
        padding: 6.5px;
        font-size: 22px;
        @include transition-ease-out(.3);
        .fa{
            @include transition-ease-out(.3);
        }
        &:hover{
            .fa{
                color: $theme;
            }
        }
    }
}
.top-search-form-wrapper{
    display: none;
    input[type="text"]{
        width: 95%;
        float: left;
        background-color: white;
    }
    button{
        width: 5%;
    }
}

/* //////////////*/
// Footer
/* //////////////*/
footer{
    background-color: #3C3D41;
    padding: 20px 0;
    .footer-col-3{
        float: left;
        margin-left: 2.8%;
        width: (100%-(2.8*2))/3;
        border-left: 1px solid #888888;
        padding-left: 2.7%;
        &:first-child{
            margin-left: 0;
            padding-left: 0;
            border-left: none;
        }
    }

}
.internal-ad-image{
    float: left;
    width: 84px;
    margin-right: 17px;
    img{
        float: left;
        
    }
}
.internal-ad-content{
    float: left;
    width: 174px;
    color: #FFF;
    h4{
        color: white;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 5px;
        line-height: .8;
    }
    p{
        color: #888;
        font-size: 14px;
        line-height: 1.2;
        word-spacing: 1px;
    }
    .small-but{
        font-size: 15px;
        width: 100%;
        max-width: 143px;
        display: block;
        padding: 4px;
        letter-spacing: inherit;
    }
}
.footer-menu{
    float: left;
    width: 100%;
    ul{
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    li{
        list-style: none;
        line-height: 1.2;
    }
    a{
        color: white;
        font-size: 11px;
        text-transform: uppercase;
        @include transition-ease-out(.1);
        &:hover{
            text-decoration: none;
            color: $grey;
        }
    }
    h6{
        color: #FFF;
        font-size: 11px;
        text-transform: uppercase;
    }
}
.subscription-form{
    .heading{
        color: #888;
        font-size: 12px;
        margin-bottom: 3px;
    }
    p{
        color: #888;
        font-size: 9px;
    }
    input[type="text"]{
        width: 67%;
    }
    input[type="submit"]{
        width: 100%-67%;
        border: 1px solid $theme;
        max-width: 80px;
        height: 100%;
    }
    input[type="text"], input[type="submit"]{
        float: left;
        font-size: 12px;
        font-weight: 500;
        padding: 7.5px;
        letter-spacing: 0.2px;
    }
    .checkbox-button{
        margin-top: 20px;
        font-size: 12px;
        color: #bbb;
        line-height: 1.9;
    }
    .new-checkbox{
        &:before{
            background-color: #FFF;
        }
    }
    .new-checkbox:after{
        top: -15px;
    }
}


/* //////////////*/
// Archive Page
/* //////////////*/
.archive-head{
    color: #656565;
    h2{
        color: inherit;
        font-size: 32px;
        font-weight: 500;
        text-transform: capitalize;
        @include transition (.3);
    }
    h2, p{
        line-height: 1.2;
    }
    p{
        font-size: 24px;
    }
}
.col-2-archive-head{
    float: left;
    height: 336px;
    @include transition (.3);
    &:first-child{
        width: 53.8%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    }
    &:last-child{
        width: 100%-53.8%;
        padding-left: 30px;
        padding-bottom: 50px;
        position: relative;
        .medium-but{
            position: absolute;
            bottom: 0;
            left: 30px;
        }
    }
}
.pagination-wrapper{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: $light-grey;
}
.pagination{
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0;
    li{
        float: left;
        margin-right: 5px;
        width: 39px;
        &:last-child{
            margin-right: 0;
        }
        a{
            float: left;
            width: 100%;
            border: 1px solid $border;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            color: #585858;
            @include transition-ease-out(.2);
            &:hover{
                text-decoration: none;
                background-color: #d8d8d8;
            }
        }
        &.active{
            a{
                background-color: #d8d8d8;
            }
        }
    }
}

.news-tags{
    text-align: center;
    label{
        font-size: 15px;
        font-weight: normal;
        color: $grey-tag;
        float: left;
        width: 100%;
        line-height: 1.1;
    }
    ul{
        float: left;
        width: 100%;
        padding: 0;
        margin-top: 39px;
        margin-bottom: 0;
        li{
            list-style: none;
            float: left;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
        a{
            display: block;
            float: left;
            width: 100%;
            font-size: 15px;
            font-weight: 600;
            color: $dark-grey;
            line-height: 1.2;
            @include transition-ease-out(.2);
        }
    }
}
/* //////////////*/
// Related Stories
/* //////////////*/
.related-stories-head{
    &:before{
        content: "";
        width: 100%;
        height: 4px;
        background-color: $theme;
        display: block;
        position: relative;
        top: 20.5px;
        z-index: 1;
    }
    text-align: center;
    span{
        position: relative;
        z-index: 2;
        display: inline-block;
        background-color: $theme;
        color: white;
        padding: 9px 27px;
        line-height: 1.1;
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
        
    }
}
.related-story{
    position: relative;
    &:hover{
        text-decoration: none;
        .related-story-content{
            background-color: rgba(0,0,0,.1);
        }
        .play-video-but{
            background-color: darken($theme, 10%);
        }
    }
    .play-video-but{
        width: 70px;
        height: 45px;
        .fa{
            top: 9px;
        }
    }
}
.related-story-image{
    width: 100%;
    height: 144px;
    float: left;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
}
.related-story-content{
    background-color: #FFF;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    color: $dark-grey;
    font-weight: 500;
    float: left;
    width: 100%;
    padding: 6px 8px;
    line-height: 1.3;
    @include transition-ease-out(.2);
}
.page-info{
    font-size: 14px;
    color: #151515;
    font-weight: 300;
}

/* //////////////*/
// Contact Page
/* //////////////*/
.contact-page{
    .col-2{
        @include col-2(4%, 0);
    }
    h2{
        font-size: 22px;
        line-height: 1;
        margin-bottom: 5px;
        font-weight: 600;
    }
}
.each-contact-details {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    &:first-child{
        margin-top: 0;
    }
}
.at-share-tbx-element .at-share-btn{
    margin-bottom: 0!important;
}

.responsive-menu{
    text-align: center;
    .search-wrapper{
        display: inline-block;
        width: 100%;
        float: none;
        max-width: 500px;
        input[type="text"]{
            width: 88%;
            float: left;
            background-color: white;
        }
        button{
            width: 12%;
            .fa{
                color: #FFF;
            }
        }
    }
}
/* //////////////*/
/*This file link includes resonsive style and it MUST always stays at the bottom of this file. If you need to type code, please type above to this link. Don't type below of responsive file link.*/
/* //////////////*/
@import 'responsive';